.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

ul {
  text-align: left;
  width: 200px;
  border: 1px solid black;
}
li {
  list-style: none;
}

.search {
  margin: 0 auto;
}

.inputsBox {
  display: flex;
}
.input {
  display: flex;
  margin: 5px 15px;
}
